/**
 *  Colors
 */
$grey: #333;

/**
 *  Navigation Colors
 */
$nav-background: $grey;
$nav-text-color: #FFF;

/**
 *  Clock
 */
$clock-text-color: #FFF;
$clock-bg-color: #AF111C;
$clock-border-color: #020202;
